WcfService1.0/ClientOneHundred/Connected Services/ServiceVelib/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VelibLibrairy" />
  <xs:element name="CalculTrajectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VelibLibrairy" minOccurs="0" name="departure" nillable="true" type="q1:Coordinates" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VelibLibrairy" minOccurs="0" name="destination" nillable="true" type="q2:Coordinates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculTrajectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculTrajectoryResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>