Client/ServiceClient/ServiceClient/Connected Services/ServiceVelib/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8787/ServiceVelib/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelibLibrairy" />
  <xs:import schemaLocation="http://localhost:8787/ServiceVelib/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CalculTrajectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VelibLibrairy" minOccurs="0" name="departure" nillable="true" type="q1:Coordinates" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VelibLibrairy" minOccurs="0" name="destination" nillable="true" type="q2:Coordinates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculTrajectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculTrajectoryResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructionsTrajectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VelibLibrairy" minOccurs="0" name="depart" nillable="true" type="q3:Coordinates" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VelibLibrairy" minOccurs="0" name="destination" nillable="true" type="q4:Coordinates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructionsTrajectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInstructionsTrajectoryResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>