Client/ServiceClient/ServiceClient/Connected Services/ServiceVelib/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VelibLibrairy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VelibLibrairy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Coordinates">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lattitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinates" nillable="true" type="tns:Coordinates" />
</xs:schema>