Client/ServiceClient/ServiceClient/Connected Services/ServiceVelib/VelibServiceImplem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VelibServiceImplem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8787/ServiceVelib/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8787/ServiceVelib/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8787/ServiceVelib/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelibLibrairy" />
      <xsd:import schemaLocation="http://localhost:8787/ServiceVelib/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelibService_CalculTrajectory_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculTrajectory" />
  </wsdl:message>
  <wsdl:message name="IVelibService_CalculTrajectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculTrajectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IVelibService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetInstructionsTrajectory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstructionsTrajectory" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetInstructionsTrajectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstructionsTrajectoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelibService">
    <wsdl:operation name="CalculTrajectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/CalculTrajectory" message="tns:IVelibService_CalculTrajectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/CalculTrajectoryResponse" message="tns:IVelibService_CalculTrajectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/HelloWorld" message="tns:IVelibService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/HelloWorldResponse" message="tns:IVelibService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsTrajectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetInstructionsTrajectory" message="tns:IVelibService_GetInstructionsTrajectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetInstructionsTrajectoryResponse" message="tns:IVelibService_GetInstructionsTrajectory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelibService" type="tns:IVelibService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculTrajectory">
      <soap:operation soapAction="http://tempuri.org/IVelibService/CalculTrajectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IVelibService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsTrajectory">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetInstructionsTrajectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VelibServiceImplem">
    <wsdl:port name="BasicHttpBinding_IVelibService" binding="tns:BasicHttpBinding_IVelibService">
      <soap:address location="http://localhost:8787/ServiceVelib/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>